.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    padding: 20px;
    width: 100%;
    bottom: 0;
}

.logoFooter {
    width: auto;
    height: 30px;
}

.copyright {
    color: white;
    text-align: center;
}