.about {
    height: 100%;
    width: 100%;
}

.sectionAccordion {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 20px 0;
}


/* .padding {
    color: #ff6060;
    font-size: 24px;
    font-weight: 300;
    padding: 20px;
} */

.accordionItemAbout {
    background: #F6F6F6;
    border-radius: 0 0 5px 5px;
    margin: 20px 200px;
}

.accordionContentAbout {
    color: #ff6060;
    font-size: 24px;
    font-weight: 300;
    padding: 20px;
    text-align: justify;
}


/* Affichage tablette*/
@media only screen and (min-width : 601px) and (max-width : 1024px) {

    .accordionItemAbout {
        margin: 10px 80px;
    }

    .accordionContentAbout {
        font-size: 16px;
        padding: 10px;
        text-align: justify;
    }

    .sectionAccordion {
        margin: 10px 0;
    }
}

/* Affichage mobile*/
@media only screen and (min-width : 320px) and (max-width : 600px) {
    .accordionItemAbout {
        margin: 10px 20px;
    }

    .accordionContentAbout {
        font-size: 12px;
        padding: 10px;
        text-align: justify;
    }

    .sectionAccordion {
        margin: 10px 0;
    }

    .banner {}
}