.login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(249, 245, 239); */
    min-height: 500px;
    border-radius: 20px;
}

.login_title {
    margin: 30px auto;
    font-weight: 500;
    font-size: 20px;
    color: #FF6060;
    /* border-bottom: 2px solid #FF6060; */
}

.login label,
.login input {
    margin-bottom: 15px;
    font-size: 14px;

}

.login input {
    min-height: 60px;
    min-width: 300px;
    padding-left: 50px;
    border-radius: 10px;
    border: 1px solid;
}

.login__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* min-width: 300px; */
    position: relative;

}

.login p {
    margin-top: 10px;
    font-size: 12px;
}

.login a {
    font-weight: 600;
    text-decoration: underline;
}

.log-icons {
    position: absolute;
    right: 20px;
    top: 20px;
}

.password__icon-eye-show,
.password__icon-eye-hide {
    cursor: pointer;
    font-size: 20px;
}

.login__item__icon {
    position: absolute;
    left: 15px;
    top: 20px;
    font-size: 20px;
}

.login a {
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}

.submit {
    display: flex;
    gap: 20px;
}

.btn-connect,
.btn-signup {
    margin: 30px auto;
    background-color: black;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
}

.red {
    background-color: #FF6060;
}



/* TABLETTE */
@media only screen and (min-width : 601px) and (max-width : 1024px) {}

/* Affichage mobile*/
@media only screen and (min-width : 320px) and (max-width : 600px) {}