.login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(249, 245, 239);
    min-height: 500px;
    border-radius: 20px;
}

.login_title {
    margin: 30px auto;
    font-weight: 500;
    font-size: 20px;
}

.login label,
.login input {
    margin-bottom: 10px;
    font-size: 14px;

}

.login input {
    min-height: 40px;
    min-width: 200px;
    padding: 10px;

}

.login__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 300px;
    position: relative;

}

.login p {
    margin-top: 30px;
    font-size: 12px;
}

.login a {
    font-weight: 600;
    text-decoration: underline;
}

.log-icons {
    position: absolute;
    right: 12px;
    top: 12px;
}

.password__icon-eye-show {
    cursor: pointer;
}

.password__icon-eye-hide {
    cursor: pointer;
}

.btn-connect {
    margin: 30px auto;
    background-color: black;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
}

/* TABLETTE */
@media only screen and (min-width : 601px) and (max-width : 1024px) {}

/* Affichage mobile*/
@media only screen and (min-width : 320px) and (max-width : 600px) {
    .login {}

}