.error404 {
    width: 100%;
}

.title {
    font-size: 288px;
    text-align: center;
    color: #FF6060;
}

.description {
    font-size: 36px;
    text-align: center;
    color: #FF6060;
}

.backLink {
    text-align: center;
    margin-top: 100px;
    text-decoration: underline;
    margin-bottom: 30px;
    color: #FF6060;
}

.backLink:hover {
    font-weight: bold;
}