.slider {
    display: flex;
    width: 100%;
    height: 415px;
    opacity: 1;
    transition: opacity ease-in-out 400ms;
    position: relative;

}


.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    padding: 0 80px;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    filter: brightness(0.7);

}

.chevrons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 120px;
    align-items: center;
    z-index: 1;
    font-size: 100px;
    color: white;
}