.tag {
    background-color: #FF6060;
    max-width: 115px;
    height: 26px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;
    margin: 20px 0;
    padding: 10px;

}

.sectionTag {
    display: flex;
    justify-content: flex-start;
}

.tags {
    display: flex;
    gap: 20px
}