.banner {
    position: relative;
    width: 100%;
    display: flex;
    margin: 0;
}

.bigBanner {
    object-fit: cover;
    height: 260px;
    width: 100%;
    border-radius: 15px;
    filter: brightness(0.7);
    margin: 0 80px;
}

.imgBanner {
    object-fit: cover;
    height: 260px;
    width: 100%;
    border-radius: 15px;
    filter: brightness(0.7);
    margin: 0 80px
}

.divTitle {
    display: flex;
    align-items: center;
    height: 260px;
    width: 100%;
    justify-content: center;
    position: absolute;
    font-weight: 500;
    z-index: 1;
    color: white;
}

.divTitle h1 {
    font-size: 48px;
    font-weight: 500;
    display: flex;
}

@media only screen and (min-width : 601px) and (max-width : 1024px) {

    .imgBanner {
        margin: 0 40px
    }

    .bigBanner {
        margin: 0 40px
    }

    .divTitle h1 {
        font-size: 28px;
    }
}

/* Affichage mobile*/
@media only screen and (min-width : 320px) and (max-width : 600px) {

    .banner {
        display: flex;
    }

    .imgBanner,
    .divTitle {
        height: 110px;
        width: 100%;
        display: flex;
    }

    .divTitle {
        justify-content: left;
    }

    .imgBanner {
        margin: 0 20px
    }

    .bigBanner {
        width: 100%;
        margin: 0 20px;
        overflow: auto;
    }

    .divTitle h1 {
        font-size: 24px;
        font-weight: 500;
        margin: 30px;
        flex-direction: column;
    }
}